.bton-small{
    
    width: 150px;
    height: 60%;
    background-color: orange;
    text-align: center;
    text-decoration: none;
    color: white;
    border:2px solid orange;
    border-radius: 3px;
    
    margin: 15px 10px 15px 20px;
    

       &:active{
        background-color: white;
        color:orange; 
        border:2px solid orange;
       }
}