.c-pet-icon {
    display: flex;
    .swiper-slide {
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: center;

        background-color: rgb(189 210 214);
        border-radius: 5px;
        font-family: 'Barlow', sans-serif;
        text-decoration: none;

        height: 61px;
        max-width: 61px;
        margin: 10px;
        padding: 5px;

        &-active {
            box-shadow: 1px 2px 8px rgba(1, 116, 142, 0.881);
            height: 72px;
            max-width: 72px;
        }

        .c-slider_img {
        
        }
        p {
            font-size: 16px;
            color: rgb(1 116 142);
        }
    }
}