.progres-bar-box{
display: flex;
width: 100%;
justify-content: center;
}
.progres-bar-pets-gray{
    width: 90%;
    background-color:rgb(236,155,148,0.5); 
  
    height: 10px;
    border-radius: 10px;
}
.progres-bar-pets-ping{
    width: 50%;
    background-color:#EC9B94; 
    height: 10px;
    border-radius: 10px;
    
    
}
.bton-back{
    // width: 20%;
    font-size: 30px;
}