

.container{
    display: flex;  
    flex-direction: column;
    align-items: flex-end;
    width: 100%;   
    height: auto;
    align-content: flex-end;
    //border-top: 1px solid black;
    box-shadow: 0px -20px 20px 0px rgba(119, 119, 119, 0.12);
    
}


.navbar{
    display: flex;
    align-items: center;  
    justify-content: space-around;
    width: 100%;
    height: 51px;  
    text-decoration: none;

    
}

.usu{
    width: 24px;
    height: 21px;
}

.home{
 display: flex;
 width: 24px;
 height: 24px;
 text-decoration: none;
}

.map{
 display: flex;
 width: 24px;
 height: 24px;
 text-decoration: none;
}

.pets{
 display: flex;
 width: 24px;
 height: 24px;
 text-decoration: none;
}

.profile{
 display: flex;    
 width: 24px;
 height: 24px;
 border-radius: 50%;
 border: 1px solid  rgb(1, 116, 142);
 text-decoration: none;
 &:hover{
    border: 1px solid  rgb(245, 162, 18);
}
}

.plus{
    display: flex;    
    width: 25px;
    height: 70px;
    text-decoration: none;
    
    font-size: 40px;
    padding: 0px;
    &:hover{
        color: orange;
    }
}

